body {
    background-color: #E7E7E7;
    font-family: Helvetica, Arial, sans-serif;
}

#wheelDiv {
    height: 1000px;
    width: 960px;
    position: absolute;
}

#wheelDiv>svg {
    height: 100%;
    width: 100%;
}

#wheelnav-wheelDiv-marker {
    fill: #161358;
    stroke: #161358;
    stroke-width: 3px;
}

path {
    stroke: #E7E7E7;
    stroke-width: 1px;
}

path:hover {
    fill: #dcdce6;
    /*content: url('http://dummyimage.com/100x100/eb00eb/fff');*/
}

.inner-circle {
    width: 450px;
    height: 450px;
    position: absolute;
    background: white;
    border-radius: 100%;
    border: 5px solid #161358;
    left: 260px;
    top: 260px;
}

/*Positioning Glasses*/

image#wheelnav-wheelDiv-title-1 {
    x: 640;
    y: 700;
}

image#wheelnav-wheelDiv-title-2 {
    x: 370;
    y: 765;
}

image#wheelnav-wheelDiv-title-3 {
    x: 155;
    y: 622;
}

image#wheelnav-wheelDiv-title-4 {
    x: 80;
    y: 365;
}

image#wheelnav-wheelDiv-title-5 {
    x: 240;
    y: 125;
}

image#wheelnav-wheelDiv-title-6 {
    x: 497;
    y: 70;
}

image#wheelnav-wheelDiv-title-7 {
    x: 725;
    y: 210;
}

image#wheelnav-wheelDiv-title-0 {
    x: 795;
    y: 485;
}
